@using GenericUtility.Models

@model TutorialsVM

<div class="text-center">
    <h1 class="display-4">@Model.Name Tutorial</h1>
    <p>@Model.Description</p>
</div>

<div>
    <h2>Introduction</h2>
    <p>@Model.Introduction</p>
    <h2>Variables</h2>
    <p>@Model.Variables</p>
    <h2>Syntax</h2>
    <p>@Model.Syntax</p>
    <h2>Examples</h2>
    <p>@Model.Examples</p>
    <h2>Exercises</h2>
    <p>@Model.Exercises</p>
</div>
